*{
    
    box-sizing:border-box;
}


body{
    background-color:rgb(124, 45, 245);
}


  .box {
    display: flex;
    background: transparent;
    align-items:center;
    justify-content:center;
  }
     
.test{
   color:white;
   font-size: 45px;
   font-family:impact;
   font-weight:1;
   letter-spacing:7px;
   cursor: pointer;
   
    
}

.test:hover {
    color: black;
    transition: 0.75s ease-in-out;
       
}
.test:not(:hover){
    color:white;
    transition: 0.75s ease-in-out;
}

.navigator{
    display: flex;
    font-family: sans-serif;
    font-size: 19px;
    align-items: right;
    justify-content: right;
    justify-content: space-evenly;
    
}

.navigator .tab{
    color: white;
    text-decoration: none;

}
